
.medium-zoom-overlay {
    z-index: 20;
}

.medium-zoom-image {
    z-index: 9999 !important;/* 给的值是21，但是实测盖不住，直接999 */
}

.badge-box a{
    display: inline-block;
}

.badge-box a:nth-child(n+2) ,.badge-box-center a:nth-child(n+2){
    margin-left: 5px;
}

.badge-box img .badge-box-center img{
    /* margin-right:10px; */
    cursor:pointer
}

.badge-box-center p{
    display: flex;
    align-items: center;
    justify-content: center;
}